<html>

<head>
    <title>Timeslot</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript/n_v_timeslot.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- <style>
        body {
            background-color:lavender;
        }
    </style> -->
    <style>
        div.col-sm-8 {
            background-color: white;
            width: 100px;
            height: 250px;
            overflow: auto;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        div {
            margin-top: 10%;
            margin-bottom: 10%;
        }

        .btn-light:hover {
            background-color: lavender;
        }

        .btn-light.active,
        .btn-light:active {
            background-color: #111111;
            border-color: red;
        }
    </style>
</head>

<body style="background-color:lavender;">
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
    </script>

    <div class="container">
        <div class="panel-header" style="margin: 10px;">

        </div>

        <div class="row">
            <br>
            <div class="col-sm-2 col-md-3 col-2"></div>
            <div class="col-sm-8 col-md-6 col-8" id="myimg">
                <div class="list-group">
                    <% array.forEach(time =>{ %>
                    <button type="button" class="btn btn-light btn-block" id="<%= time %>"
                        onclick="set_timeslot(this.id)">&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= time %>&nbsp;&nbsp;&nbsp;&nbsp; </button>
                    <% }); %>

                </div>
            </div>
            <div class="col-sm-2 col-md-3 col-2"></div>
        </div>

        <div id="address">address: <%= address %></div>
        <div id="needvol">Choose timeslot.</div>
        <div class="panel-footer">
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success okbutton" id="<%= id %>" onclick="display_needvol(this.id)"
                disabled>OK</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success " id="close"
                onclick="closewebview()">Close</button>
        </div>



    </div>

</body>

</html>